.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}
@media (min-width: 1440px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}
@media (min-width: 1440px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}
@media (min-width: 1440px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}
@media (min-width: 1440px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}

.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}
.Input::after {
  content: attr(data-after);
  position: absolute;
  left: 80px;
  font-size: x-large;
  color: red;
}
.Input span.before {
  margin: 0 !important;
  padding-top: 26px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.Input span + input {
  display: inline-block;
  padding-left: 100px;
}
.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1000px) {
  .Span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .Span {
    font-size: 1.5rem;
  }
}

.Radio {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.Radio .radio {
  background: rgba(233, 237, 241, 0.2);
  padding: 10px 15px;
  border: 1.41644px solid #bac6d2;
  border-radius: 5.24918px;
  max-width: 250px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.Radio .radio:hover {
  background: rgba(233, 237, 241, 0.4);
}
.Radio .radio label {
  cursor: pointer;
}

.Layout {
  position: relative;
  padding-top: 80px;
}
@media (min-width: 1440px) {
  .Layout {
    padding-top: 100px;
  }
}

.Sidebar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 11;
  background-color: #0d1d2f;
  color: #f4f9fa !important;
  flex-direction: column;
  gap: 10px;
}
.Sidebar .Weblinks,
.Sidebar .CallToActionButtons {
  flex-direction: column;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  height: 80px;
  padding: 10px 10%;
  gap: 30px;
}
@media (min-width: 1440px) {
  .Navbar {
    height: 100px;
  }
  .Navbar .Logo svg {
    width: 150px;
    height: 100px;
    display: block;
  }
}
.Navbar aside {
  width: -moz-fit-content !important;
  width: fit-content !important;
  position: relative;
}
.Navbar .Hamburger svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
@media (min-width: 900px) and (max-width: 1000px) {
  .Navbar {
    gap: 15px;
  }
  .Navbar .Weblinks,
  .Navbar .CallToActionButtons {
    gap: 5px !important;
  }
  .Navbar .Weblinks button,
  .Navbar .CallToActionButtons button {
    padding: 8px 20px;
  }
}

.Footer {
  background: #0d1d2f;
  padding: 0px 10%;
  position: relative;
  overflow: hidden;
}
.Footer section {
  padding: 20px;
}
.Footer section:nth-child(3) {
  text-align: center;
  color: #fff;
  border-top: 1px solid;
}
.Footer .Blobs {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Footer .Blobs img {
  position: absolute;
  top: 40%;
  right: 20%;
}
@media (max-width: 1100px) {
  .Footer .Blobs img {
    top: 60%;
  }
}
@media (max-width: 700px) {
  .Footer .Blobs img {
    top: 70%;
  }
}
.Footer .Main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
}
@media (min-width: 1150px) {
  .Footer .Main {
    flex-wrap: nowrap;
  }
}
.Footer .Main aside {
  align-self: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  color: #6b7280;
  flex: 1 1 auto;
}
@media (min-width: 1440px) {
  .Footer .Main aside {
    gap: 60px;
  }
}
.Footer .Main .Aside1 {
  align-self: self-start;
}
.Footer .Main .Aside1 .DivLogo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.Footer .Main .Aside1 .DivLogo span {
  font-weight: 400;
  color: #6b7280;
  font-size: 0.8rem;
  line-height: 24px;
}
@media (min-width: 1440px) {
  .Footer .Main .Aside1 .DivLogo span {
    font-size: 1.25rem;
  }
}
.Footer .Main .Aside1 .DivSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  justify-content: space-between;
}
.Footer .Main .Aside1 .DivSocials svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  opacity: 0.4;
}
.Footer .Main .Aside2 {
  flex-direction: row;
  gap: 30px;
}
.Footer .Main .Aside2 > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  line-height: 24px;
}
.Footer .Main .Aside2 > div h1 {
  font-size: 1.5rem;
  margin-bottom: 6px;
  font-weight: 600;
  color: #8a8b8b;
}
.Footer .Main .Aside2 > div p {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  color: #86898a;
}
@media (min-width: 1440px) {
  .Footer .Main .Aside2 > div h1 {
    font-size: 2.5rem;
  }
  .Footer .Main .Aside2 > div p {
    font-size: 1.5rem;
  }
}
.Footer .Main .Aside3 .DivText {
  font-weight: 500;
  line-height: 24px;
  color: #85888a;
}
.Footer .Main .Aside3 .DivText div {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 52px;
  color: #dee3e4;
}
@media (min-width: 1440px) {
  .Footer .Main .Aside3 .DivText div {
    font-size: 2.5rem;
  }
}
.Footer .Main .Aside3 .DivText span {
  font-size: 0.8rem;
  color: #6b7280;
}
@media (min-width: 1440px) {
  .Footer .Main .Aside3 .DivText span {
    font-size: 1.25rem;
  }
}
.Footer .Main .Aside3 .DivInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.Footer .Main .Aside3 .DivInput button {
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
}
@media (max-width: 1150px) {
  .Footer .Main .Aside1,
  .Footer .Main .Aside2 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .Footer .Main .Aside3 {
    align-items: center;
  }
}
@media (max-width: 792px) {
  .Footer .Main {
    flex-direction: column !important;
  }
  .Footer .Main aside {
    align-items: center !important;
    width: 100% !important;
  }
}
@media (max-width: 550px) {
  .Footer .Main .Aside2 {
    flex-direction: column !important;
  }
  .Footer .Main .Aside2 div {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .Footer .Main .DivInput {
    flex-direction: column;
  }
}

.Weblinks,
.CallToActionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
}
.Weblinks a,
.CallToActionButtons a {
  position: relative;
  cursor: pointer;
  color: #20466f;
  padding: 4px;
  font-size: 15px;
}
.Weblinks a span,
.CallToActionButtons a span {
  display: flex;
  align-items: center;
}
.Weblinks a div,
.CallToActionButtons a div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  position: absolute;
  top: 53px;
  left: -35%;
  background-color: #0d1d2f;
}
@media (min-width: 1440px) {
  .Weblinks a,
  .CallToActionButtons a {
    font-size: 25px;
  }
  .Weblinks a div,
  .CallToActionButtons a div {
    top: 68px;
  }
}
.Weblinks button,
.CallToActionButtons button {
  border-radius: 48px;
  padding: 12px 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
}
@media (min-width: 1440px) {
  .Weblinks button,
  .CallToActionButtons button {
    font-size: 20px;
    padding: 1rem 40px;
  }
}/*# sourceMappingURL=Layout.module.css.map */