.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}
@media (min-width: 1440px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}
@media (min-width: 1440px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}
@media (min-width: 1440px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}
@media (min-width: 1440px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}

.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}
.Input::after {
  content: attr(data-after);
  position: absolute;
  left: 80px;
  font-size: x-large;
  color: red;
}
.Input span.before {
  margin: 0 !important;
  padding-top: 26px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.Input span + input {
  display: inline-block;
  padding-left: 100px;
}
.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1000px) {
  .Span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .Span {
    font-size: 1.5rem;
  }
}

.Index {
  position: relative;
}

.Hero {
  position: relative;
}
.Hero .ImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.Hero .HeroMain {
  z-index: 3;
  position: relative;
  background: linear-gradient(90deg, rgba(231, 227, 224, 0.99) 50.51%, rgba(231, 227, 224, 0.610689) 84%, rgba(231, 227, 224, 0.01) 101.57%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 70%;
  min-height: 100vh;
  padding: 10%;
  padding-right: 0;
}
@media (min-width: 1440px) {
  .Hero .HeroMain {
    gap: 60px;
  }
}
.Hero .HeroMain .dummy {
  display: flex;
  gap: 1rem;
}
.Hero .HeroMain .dummy .dummyActive {
  background: #17324f;
}
.Hero .HeroMain .dummy .dummyActiveNext {
  background: #6a839f;
}
.Hero .HeroMain .dummy .dummyInactive {
  background: #e9edf1;
}
.Hero .HeroMain .dummy span {
  width: 10px;
  height: 10px;
  background: #e9edf1;
  border: 1.13027px solid #98aabd;
  border-radius: 50%;
}
.Hero .HeroMain h1,
.Hero .HeroMain p {
  width: 70%;
}
.Hero .HeroMain p {
  font-weight: 500;
}
@media (min-width: 1000px) {
  .Hero .HeroMain h1 {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 900px) {
  .Hero .HeroMain {
    width: 80%;
  }
  .Hero .HeroMain h1,
  .Hero .HeroMain p {
    width: 100%;
  }
}

.Service {
  padding: 30px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1440px) {
  .Service {
    gap: 60px;
  }
}
@media (min-width: 1000px) {
  .Service {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .Service {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.Service .ServiceHeader {
  position: relative;
  width: 100%;
  text-align: center;
}
.Service .Services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.Service .Services .service {
  width: 33%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.Service .Services .service p {
  font-weight: 600;
  text-align: center;
  color: #1d4065;
}
.Service .Services .service .serviceImage {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  position: relative;
  padding-top: 80%;
}
@media (max-width: 900px) {
  .Service .Services {
    flex-direction: column;
    gap: 2rem;
  }
  .Service .Services .service {
    width: 100%;
    max-width: 500px;
  }
}

.Work {
  padding: 1rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1440px) {
  .Work {
    gap: 60px;
  }
}
@media (min-width: 1000px) {
  .Work {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .Work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.Work .WorkHeader {
  text-align: center;
  position: relative;
  width: 100%;
}
.Work .WorkHeader .line {
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Work .WorkHeader div {
  position: relative;
  z-index: 1;
  background-color: #fff;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}
.Work .WorkBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.Work .WorkBody .Blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 100%;
}
.Work .WorkBody aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.Work .WorkBody aside:nth-child(odd) {
  flex-direction: row-reverse;
}
@media (min-width: 900px) {
  .Work .WorkBody aside:nth-child(odd) .WorkContent {
    border-right: 1px solid rgb(152, 170, 189);
    padding-right: 1rem;
  }
}
@media (min-width: 1440px) {
  .Work .WorkBody aside:nth-child(odd) {
    gap: 2rem;
  }
  .Work .WorkBody aside:nth-child(odd) .WorkContent {
    padding-right: 2rem;
  }
}
.Work .WorkBody aside:nth-child(even) {
  gap: 2rem;
}
@media (min-width: 1440px) {
  .Work .WorkBody aside:nth-child(even) {
    gap: 4rem;
  }
}
@media (min-width: 1440px) {
  .Work .WorkBody aside {
    gap: 4rem;
  }
}
.Work .WorkBody aside div {
  width: 50%;
}
.Work .WorkBody aside div:nth-child(1) {
  padding-top: 40%;
}
.Work .WorkBody aside div p {
  margin: 15px 0;
}
@media (min-width: 1440px) {
  .Work .WorkBody aside div p {
    margin: 30px 0;
  }
}
@media (max-width: 900px) {
  .Work .WorkBody aside {
    flex-direction: column !important;
  }
  .Work .WorkBody aside div {
    width: 100%;
  }
  .Work .WorkBody aside div button {
    margin: 0 auto;
    width: min(100%, 335px);
  }
}

.Testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  position: relative;
  background: #12273d;
  box-shadow: 0px 8px 20px rgba(23, 30, 37, 0.4);
}
@media (min-width: 1440px) {
  .Testimony {
    gap: 60px;
  }
}
.Testimony .Blobs {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  opacity: 0.1;
}
.Testimony .Blobs img {
  position: absolute;
}
.Testimony .Blobs img:nth-child(1) {
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}
.Testimony .Blobs img:nth-child(2) {
  bottom: -100px;
  left: -210px;
}
.Testimony .Blobs img:nth-child(3) {
  bottom: -110px;
  right: -200px;
}
.Testimony .Main {
  padding: 30px 10%;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
@media (min-width: 1440px) {
  .Testimony .Main {
    gap: 60px;
  }
}
.Testimony .Main > div:nth-child(1) {
  width: 100%;
}

.Start {
  padding: 30px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  background-color: #f4f9fa;
}
@media (min-width: 1440px) {
  .Start {
    gap: 60px;
  }
}
@media (min-width: 1000px) {
  .Start {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .Start {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.Start .Steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.Start .Steps .Step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-items: center;
  text-align: center;
  line-height: 38px;
  align-self: auto;
}
@media (min-width: 1440px) {
  .Start .Steps .Step {
    gap: 60px;
  }
}
.Start .Steps .Step h1 {
  font-weight: 700;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #4d6b8c;
}
.Start .Steps .Step p {
  font-weight: 500;
  color: #12273d;
}
@media (max-width: 900px) {
  .Start .Steps {
    flex-direction: column !important;
    max-width: 500px;
  }
}

.Download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  gap: 1rem;
}
@media (min-width: 1440px) {
  .Download {
    gap: 2rem;
  }
}
.Download aside:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-items: center;
  flex: 6;
  text-align: left;
  margin: 1rem 0;
  align-self: baseline;
}
@media (min-width: 1440px) {
  .Download aside:nth-child(1) {
    gap: 60px;
  }
}
.Download aside:nth-child(1) div {
  display: flex;
  width: 100%;
  gap: 10px;
}
.Download aside:nth-child(2) {
  flex: 4;
  display: flex;
  align-self: flex-end;
  height: 42%;
  margin-top: 10px;
  margin-bottom: -12px;
}
@media (min-width: 900px) {
  .Download aside:nth-child(2) {
    height: auto;
    padding-top: 42% !important;
  }
}
@media (max-width: 900px) {
  .Download {
    flex-direction: column !important;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}/*# sourceMappingURL=Home.module.css.map */