.testimony {
  animation: move 5s linear infinite;
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
#slider_container,
.splide__slide {
  margin-right: 0;
  width: auto;
}
.div1 {
  padding: 2rem 1.5rem 5rem 1.25rem;
  border-radius: 30px;
  white-space: normal;
  width: 335px;
  height: 330px;
  display: inline-block;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  background-color: rgb(152 170 189);
  color: rgb(18 39 61);
}
.div1__2 {
  display: flex;
  justify-content: space-between;
}
.div1__2 img {
  height: auto;
  max-width: 100%;
  display: block;
}
.div1__2__img1 {
  width: 2rem;
  height: 2.75rem;
}
.div1__2__img2 {
  width: 2rem;
  height: 2rem;
}
.p {
  line-height: 1.5rem;
  width: 295px;
  margin-top: 1.25rem;
}
.div2 {
  display: flex;
  margin-top: 2rem;
}
.div2__img {
  width: 3rem;
  height: 3rem;
}
.div2__div {
  margin-left: 0.5rem;
}
.div2__div__p1 {
  font-weight: 600;
  line-height: 2rem;
}
.div2__div__p2 {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 640px) {
  .div1 {
    padding-left: 3.5rem;
    border-radius: 40px;
    width: 500px;
    height: 500px;
    margin-right: 5rem;
    margin-left: 0;
  }
  .div1__2__img1 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .div1__2__img2 {
    width: 4rem;
    height: 4rem;
  }
  .p {
    line-height: 38px;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    width: 368px;
    margin-top: 2.5rem;
    margin-right: 0;
  }
  .div2 {
    margin-top: 2.25rem;
  }
  .div2__img {
    width: 100px;
    height: 100px;
  }
  .div2__div {
    margin-left: 1.5rem;
  }
  .div2__div__p1 {
    line-height: 38px;
    font-size: 1.5rem;
  }
  .div2__div__p2 {
    font-weight: 500;
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .div2__div__p2 {
    font-size: 17px;
  }
}
