@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
.Image {
  width: 100%;
  position: relative;
  padding-top: 80%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Support {
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 100;
  display: flex;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  padding: 10px;
  background-color: #17324f;
  color: #fff;
  border-radius: 10px;
}

@media (min-width: 1500px) {
  .Support {
    font-size: 20px;
    padding: 14px;
  }
  .Support svg {
    width: 30px;
    height: 30px;
    display: block;
  }
}
