.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}
@media (min-width: 1440px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}
@media (min-width: 1440px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}
@media (min-width: 1440px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}
@media (min-width: 1440px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}

.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}
.Input::after {
  content: attr(data-after);
  position: absolute;
  left: 80px;
  font-size: x-large;
  color: red;
}
.Input span.before {
  margin: 0 !important;
  padding-top: 26px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.Input span + input {
  display: inline-block;
  padding-left: 100px;
}
.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1000px) {
  .Span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .Span {
    font-size: 1.5rem;
  }
}

.Radio {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.Radio .radio {
  background: rgba(233, 237, 241, 0.2);
  padding: 10px 15px;
  border: 1.41644px solid #bac6d2;
  border-radius: 5.24918px;
  max-width: 250px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.Radio .radio:hover {
  background: rgba(233, 237, 241, 0.4);
}
.Radio .radio label {
  cursor: pointer;
}

.FileInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}
.FileInput input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 2.5px solid #e9edf1;
  cursor: pointer;
  border-radius: 14px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Payments {
  display: flex;
  gap: 20px;
  position: relative;
}
.Payments .Background {
  flex: 2;
  position: relative;
  width: 100%;
}
.Payments .Background div {
  background-image: url("../assets/paymentsBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.Payments .Main {
  flex: 3;
  padding-left: 10%;
  margin: 1rem 0;
}

.SevisPage {
  position: relative;
}
.SevisPage .Header {
  background-image: url("../assets/sevis.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.SevisPage .Header div,
.SevisPage .Header p {
  color: #fff;
  max-width: calc(400px - 10%);
}
.SevisPage .Header p {
  font-size: 18px;
}
.SevisPage .Options {
  padding: 0 10%;
  margin: 1rem 0 4rem;
}
.SevisPage .StartSevisPayment .Body {
  margin: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 10%;
}
.SevisPage .StartSevisPayment button {
  margin: 3rem auto;
}
.SevisPage .Head {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #17324f;
}
.SevisPage .Head div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.SevisPage .Head div h1,
.SevisPage .Head div span {
  color: #fff;
}
.SevisPage .Head div h1 {
  font-size: 18px;
  font-weight: 600;
}
.SevisPage .Head div span {
  font-size: 12px;
  opacity: 0.9;
}
@media (max-width: 700px) {
  .SevisPage .Head div {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .SevisPage .Head div h1 {
    font-size: 15px;
    line-height: 1.1;
  }
  .SevisPage .Head div span {
    font-size: 11px;
  }
}
.SevisPage .SevisValidation {
  padding: 0 10%;
}
.SevisPage .SevisValidation .Sevis {
  display: flex;
  gap: 3rem;
}
.SevisPage .SevisValidation .Info {
  flex: 3;
}
.SevisPage .SevisValidation .Aside {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  gap: 10%;
  align-items: center;
}
.SevisPage .SevisValidation .Aside .document div {
  border-radius: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SevisPage .SevisValidation .Aside .document .doc1 {
  background: #e7f2fe;
  width: 300px;
  height: 300px;
}
.SevisPage .SevisValidation .Aside .document .doc1 .doc2 {
  background: #d5e9fd;
  width: 250px;
  height: 250px;
}
.SevisPage .SevisValidation .Aside .document .doc1 .doc2 .doc3 {
  background: #cbe4fd;
  width: 180px;
  height: 180px;
}
.SevisPage .SevisValidation .ValidationInfo .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  margin: 2rem 0 1rem;
}
.SevisPage .SevisValidation .ValidationInfo .header p {
  font-size: 17px;
  font-weight: 600;
  color: #151a1d;
}
.SevisPage .SevisValidation .ValidationInfo .formType {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.SevisPage .SevisValidation .ValidationInfo .formType p {
  color: #17324f;
}
@media (max-width: 680px) {
  .SevisPage .SevisValidation .ValidationInfo .formType {
    flex-direction: column;
  }
}
.SevisPage .SevisValidation .ValidationInfo .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  margin: 7px 0;
  align-items: center;
}
@media (min-width: 1440px) {
  .SevisPage .SevisValidation .ValidationInfo .form {
    gap: 60px;
  }
}

.Grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  grid-template-rows: auto;
}
.Grid .Item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.83466px solid #bac6d2;
  border-radius: 8px;
  padding: 16px;
}
.Grid .Item .top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Grid .Item .top p {
  color: #12273d;
  font-weight: 600;
  font-size: 14.9057px;
  line-height: 17px;
}
.Grid .Item span {
  color: #1d4065;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.Pointer {
  display: flex;
  margin-top: 30px;
  width: 100%;
  position: relative;
}
.Pointer .PointerLine {
  width: 220px;
  height: 1px;
  background: #1d4065;
  top: -25%;
  position: relative;
}

.MobilePointer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.Point {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Point .MainPointer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.Point .MainPointer .OuterCircle {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  width: 35px;
  overflow: hidden;
  z-index: 3;
  height: 35px;
  position: relative;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
}
.Point .MainPointer .OuterCircle .InnerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  outline: 2px solid #fff;
  background: linear-gradient(192.7deg, #152a47 14.55%, #032555 91.2%);
}
.Point .MainPointer p {
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  color: #12273d;
  line-height: 1.4;
}

.Note {
  padding: 20px 10px 40px;
  display: flex;
  flex-direction: column;
  background: #f6fafb;
  border: 2.5px solid #bac6d2;
  border-radius: 8px;
}
.Note .top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Note .top h1 {
  color: #666969;
}
.Note p {
  font-size: 17px;
  line-height: 1.5;
  color: #696a6a;
  font-weight: 500;
}
@media (max-width: 700px) {
  .Note {
    flex-direction: column;
    gap: 10px;
  }
  .Note .top h1 {
    font-size: 23px;
  }
}/*# sourceMappingURL=payments.module.css.map */