@use "../components/General/General.module.scss" as General;
.SignIn {
  position: relative;
  padding: 10px General.$leftRight;
  min-height: 100vh;
  background: url("../public/bg1.png") no-repeat center center;
  background-size: cover;
  .Logo {
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }
  .SignInCover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(231, 227, 224, 0.99) 50.51%,
      rgba(231, 227, 224, 0.610689) 84%,
      rgba(231, 227, 224, 0.01) 101.57%
    );
    @include General.BOX();
    width: 50%;
    @media (max-width: 900px) {
      width: 80%;
    }
  }
  .Support {
    position: absolute;
    bottom: 5%;
    right: 10%;
    z-index: 3;
  }
  .Main {
    padding: calc(10% + 100px) 0;
    position: relative;
    @include General.BOX;
    z-index: 5;
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #17324f;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
