@use "../components/General/General.module.scss" as General;
@mixin ButtonSpanAndParagraph($buttonWidth: 100%) {
  button {
    width: $buttonWidth;
  }
  p {
    margin-top: -20px;
  }
  span {
    margin-top: -10px;
  }
}
.SignIn {
  position: relative;
  padding: 10px General.$leftRight;
  min-height: 100vh;
  background: url("../public/bg1.png") no-repeat center center;
  background-size: cover;
  .Logo {
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }
  .SignInCover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(231, 227, 224, 0.99) 50.51%,
      rgba(231, 227, 224, 0.610689) 84%,
      rgba(231, 227, 224, 0.01) 101.57%
    );
    @include General.BOX();
    width: 50%;
    @media (max-width: 900px) {
      width: 80%;
    }
  }
  .Main {
    padding: calc(10% + 100px) 0;
    position: relative;
    @include General.BOX;
    width: min(100%, 300px);
    align-items: center;
    z-index: 5;
    div {
      align-self: flex-start;
    }
    @include ButtonSpanAndParagraph();
  }
}
.SignUp {
  position: relative;
  padding: 10px General.$leftRight;
  .Main {
    @include General.BOX;
    align-items: center;
    margin: 30px auto;
    width: min(100%, 400px);

    .Header {
      position: relative;
      div {
        z-index: 2;
        position: relative;
        text-transform: uppercase;
      }
      .Eclipse {
        position: absolute;
        top: -10px;
        left: -20px;
        background: #f4d8b0;
        width: 80px;
        height: 80px;
        z-index: 1;
        border-radius: 50%;
        margin-top: 0;
      }
    }
    .Checkbox {
      @include General.Flex;
      gap: 5px;
      input {
        align-self: baseline;
      }
      span {
        margin-top: 0;
      }
    }
    label {
      &:nth-child(4) {
      }
    }
    .Selectors {
      @include General.Flex;
      gap: 30px;
      margin-top: 10px;
      a {
        background: #f4f9fa;
        cursor: pointer;
        border: 4px solid #20466f;
        border-radius: 15.9319px;
        padding: 24px;
        @include General.BOX;
        width: fit-content;
      }
    }
    @include ButtonSpanAndParagraph(50%);
  }
}
