.HighlightHeader {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #12273d;
}
@media (min-width: 1500px) {
  .HighlightHeader {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.Headers {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #17324f;
}
@media (min-width: 1500px) {
  .Headers {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.Paragraphs {
  font-weight: 400;
  font-family: "Roboto" sans-serif;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6a839f;
}
@media (min-width: 1500px) {
  .Paragraphs {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.Button {
  all: unset;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 0.875rem;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms ease-out;
  color: #ffffff;
  cursor: pointer;
  background: #17324f;
  box-shadow: 0px 4px 20px rgba(24, 30, 36, 0.1);
  border-radius: 4px;
  height: 100%;
  position: relative;
  display: block;
  border: 2px solid #17324f;
}
@media (min-width: 1500px) {
  .Button {
    font-size: 1.8rem;
    padding: 25px 30px;
  }
}

.OpposeButton {
  background: #fafcfd;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border: 2px solid #17324f;
  color: #17324f;
}

.Input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  width: min(100%, 300px);
  position: relative;
}
.Input::after {
  content: attr(data-after);
  position: absolute;
  left: 80px;
  font-size: x-large;
  color: red;
}
.Input span.before {
  margin: 0 !important;
  padding-top: 26px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(178, 180, 180);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.Input span + input {
  display: inline-block;
  padding-left: 100px;
}
.Input input {
  all: unset;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid black;
  cursor: text;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
}

.Span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #17324f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1500px) {
  .Span {
    font-size: 1.5rem;
  }
}

.SignIn {
  position: relative;
  padding: 10px 10%;
  min-height: 100vh;
  background: url("../public/bg1.png") no-repeat center center;
  background-size: cover;
}
.SignIn .Logo {
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.SignIn .SignInCover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(231, 227, 224, 0.99) 50.51%, rgba(231, 227, 224, 0.610689) 84%, rgba(231, 227, 224, 0.01) 101.57%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 50%;
}
@media (min-width: 1500px) {
  .SignIn .SignInCover {
    gap: 60px;
  }
}
@media (max-width: 900px) {
  .SignIn .SignInCover {
    width: 80%;
  }
}
.SignIn .Main {
  padding: calc(10% + 100px) 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: min(100%, 300px);
  align-items: center;
  z-index: 5;
}
@media (min-width: 1500px) {
  .SignIn .Main {
    gap: 60px;
  }
}
.SignIn .Main div {
  align-self: flex-start;
}
.SignIn .Main button {
  width: 100%;
}
.SignIn .Main p {
  margin-top: -20px;
}
.SignIn .Main span {
  margin-top: -10px;
}

.SignUp {
  position: relative;
  padding: 10px 10%;
}
.SignUp .Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-items: center;
  margin: 30px auto;
  width: min(100%, 400px);
}
@media (min-width: 1500px) {
  .SignUp .Main {
    gap: 60px;
  }
}
.SignUp .Main .Header {
  position: relative;
}
.SignUp .Main .Header div {
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}
.SignUp .Main .Header .Eclipse {
  position: absolute;
  top: -10px;
  left: -20px;
  background: #f4d8b0;
  width: 80px;
  height: 80px;
  z-index: 1;
  border-radius: 50%;
  margin-top: 0;
}
.SignUp .Main .Checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.SignUp .Main .Checkbox input {
  align-self: baseline;
}
.SignUp .Main .Checkbox span {
  margin-top: 0;
}
.SignUp .Main .Selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 10px;
}
.SignUp .Main .Selectors a {
  background: #f4f9fa;
  cursor: pointer;
  border: 4px solid #20466f;
  border-radius: 15.9319px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1500px) {
  .SignUp .Main .Selectors a {
    gap: 60px;
  }
}
.SignUp .Main button {
  width: 50%;
}
.SignUp .Main p {
  margin-top: -20px;
}
.SignUp .Main span {
  margin-top: -10px;
}

.ResetPasswordModal {
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #e1f6ff;
  border: 3px solid #34bbff;
  border-radius: 6px;
  z-index: 10;
}
.ResetPasswordModal aside {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ResetPasswordModal aside div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  justify-content: center;
}
.ResetPasswordModal aside div p {
  margin-top: 0 !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #34bbff;
}
.ResetPasswordModal aside div span {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #424242;
}/*# sourceMappingURL=sign.module.css.map */